<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">


	<!-- 定时器的配置 -->
	
 <!-- 邮箱发送 
      <bean id="emailSendTimerJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.kuaikanwang.image.component.timer.EmailSendTimerTask"></bean>
        </property>
        <property name="targetMethod" value="work" />
        <property name="concurrent" value="false" />
    </bean>
     
    <bean id="emailSendTimerJobTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="emailSendTimerJobDetail">
        </property>
        <property name="cronExpression" value="${email.send.timer.cron}">
        </property>
    </bean>
  -->  
     <!-- 图书爬取
     <bean id="bookSpiderTimerJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.kuaikanwang.image.component.timer.EmailSpiderTimerTask"></bean>
        </property>
        <property name="targetMethod" value="work" />
        <property name="concurrent" value="false" />
    </bean>
      
    <bean id="bookSpiderTimerJobTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="bookSpiderTimerJobDetail">
        </property>
        <property name="cronExpression" value="${book.spider.timer.cron}">
        </property>
    </bean>
    -->
 	<bean name="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
<!--                 <ref bean="latestPicCacheJobTrigger" />
                <ref bean="countPicCacheJobTrigger" />
                <ref bean="maxPidCacheJobTrigger" />
                <ref bean="spiderTimerJobTrigger" />
                <ref bean="gifSpiderTimerJobTrigger" />
                <ref bean="emailSpiderTimerJobTrigger" /> -->
            </list>
        </property>
    </bean>


</beans>